<%- include('./partials/header') %> 
  <main>
    
    <div class="container">
      <h1>Painel Administrativo</h1>
      <%- include('./partials/newsletter-usuarios') %> 
      <%- include('./partials/contato-usuarios') %> 
    </div>

  </main>
<%- include('./partials/footer') %> 