<%- include('./partials/header') %>
<main>
    <h1>Cadastro</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="nome">Usuario</label>
        <input type="text" name="nome" id="nome">
        <label for="email">Email</label> 
        <input type="email" name="email" id="email">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
        <label for="file">Avatar</label>
        <input type="file" name="file" id="file">
        <button type="submit">Enviado</button>
    </form>
</main>
<%- include('./partials/footer') %>